<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>Edit profile</title>

    <!-- SCRIPTS -->
    <script defer src="/scripts/locationApi.js"></script>
    <script defer src="/scripts/saveButton.js"></script>

    <!-- API INLADEN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/editProfile.css">

</head>

<body>

    <!-- HEADER -->
    <header>
        <a href="/profile"><img src="/uploads/images/profilePage/go-back.svg" alt="go-back"></a>
        <h1>Edit profile</h1>
    </header>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- MAIN -->
    <main>

        <!-- PROFILE PICTYRE -->
        <section>
            <img src="/uploads/images/profilePage/profile-picture.jpg" alt="profile-picture">
            <button href="#"><img src="/uploads/images/profilePage/photo-library.svg" alt="photo-library"></button>
        </section>

        <!-- PROFILE GEGEVENS -->
        <section>
            <form action="/profile" method="POST">
                <label>Username *</label>
                <input placeholder="Fill in..." type="text" name="Username" value="<%= profile.Username %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>
                <label>First name *</label>
                <input placeholder="Fill in..." type="text" name="Firstname" value="<%= profile.Firstname %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>
                <label>Last name *</label>
                <input placeholder="Fill in..." type="text" name="Lastname" value="<%= profile.Lastname %>" class="input-value" title="Only letters allowed" required>
                <label>Date of birth *</label>
                <input type="date" name="dateOfBirth" value="<%= profile.dateOfBirth %>" class="input-value" pattern="\d+" title="Only numbers allowed" required>
                <label>City *</label>
                <input placeholder="Fill in..." type="text" name="city" value="<%= profile.city %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>
                <div class="location" style="height: 0;">
                    <div class="location-text">
                        <label style="display: none;">Current location * <p>(change if you live somewhere else)</p>
                        <input type="text" name="locationName" id="locationName" value=" <%= profile.locationName %> ">
                        </label>
                    </div>
                    <div id="map"></div>
                </div>
                <label>Email *</label>
                <input placeholder="Fill in..." type="email" name="email" value="<%= profile.email %>" class="input-value" required>
                <label>Phone number *</label>
                <input placeholder="Fill in..." type="tel" name="Phonenumber" value="<%= profile.Phonenumber %>" class="input-value" required>
                <label>Password *</label>
                <input placeholder="Fill in..." type="password" name="password" value="<%= profile.password %>" class="input-value" required maxlength="10">
                <button>Change Password</button>
                <button type="submit" id="save-button">Save Changes</button>
            </form>
        </section>

    </main>

</body>

</html>