<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit profile</title>

    <script defer src="/scripts/locationApi.js"></script>
    <script defer src="/scripts/saveButton.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/editProfile.css">

</head>

<body>

    <header>
        <a href="/profile"><img src="/uploads/images/profilePage/go-back.svg" alt="go-back"></a>
        <h1>Edit profile</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/"><img src="/uploads/images/logos_footer/home-gray.svg" alt="home"></a></li>
            <li><a href="/moviematcher/genre"><img src="/uploads/images/logos_footer/search-gray.svg" alt="search"></a></li>
            <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
            <li>
                <a href="/profile"><img src="/uploads/images/logos_footer/profile-selected.svg" alt="profile"></a>
                <div class="selected"></div>
            </li>
        </ul>
    </nav>

    <main>

        <section>
            <img src="/uploads/images/profilePage/profile-picture.jpg" alt="profile-picture">
            <button href="#"><img src="/uploads/images/profilePage/photo-library.svg" alt="photo-library"></button>
        </section>

        <section>
            <form action="/profile" method="POST">

                <label>First name *</label>
                <input placeholder="Fill in..." type="text" name="Firstname" value="<%= profile.Firstname %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>

                <label>Last name *</label>
                <input placeholder="Fill in..." type="text" name="Lastname" value="<%= profile.Lastname %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>

                <label>Date of birth *</label>
                <input type="date" name="dateOfBirth" value="<%= profile.dateOfBirth %>" class="input-value" pattern="\d+" title="Only numbers allowed" required>

                <label>City *</label>
                <input placeholder="Fill in..." type="text" name="city" value="<%= profile.city %>" class="input-value" pattern="[A-Za-z]+" title="Only letters allowed" required>

                <div class="location" style="height: 0;">
                    <div class="location-text">
                        <label style="display: none;">Current location (change if you live somewhere else) *
                        <input type="text" name="locationName" id="locationName" value=" <%= profile.locationName %> ">
                        </label>
                    </div>
                    <div id="map"></div>
                </div>

                <label>Email *</label>
                <input placeholder="Fill in..." type="email" name="email" value="<%= profile.email %>" class="input-value" required>

                <label>Phone number *</label>
                <input placeholder="Fill in..." type="tel" name="Phonenumber" value="<%= profile.Phonenumber %>" class="input-value" required>

                <label>Password *</label>
                <input placeholder="Fill in..." type="password" name="password" value="<%= profile.password %>" class="input-value" required>
                
                <button>Change Password</button>
                <button type="submit" id="save-button">Save Changes</button>

            </form>
        </section>

    </main>

</body>

</html>