<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>MovieMatcher</title>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/styles/home.css">

</head>

<body>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- MAIN -->
    <main>

        <!-- HEADER -->
        <section>
            <h1>MovieMatch</h1>
            <a href="/likes/<%= user %>" alt=""><img src="/uploads/images/home/stertransparant.png" alt="opgeslagen films bekijken"></a>
            <div class="lijn"></div>
        </section>

        <!-- ZOEK FILM -->
        <section>
            <div class="zoek-box">
                <input class="zoek-invoer" type="text" placeholder="Zoek jouw film..."> 
                <button class="zoek-knop"><i class="fas fa-search"></i></button> 
            </div>
            <p><span>Welcome <%= Firstname %> </span></p> 
            <a href="/moviematcher/genre"><button class="moviematchbtn"><span>NO INSPIRATION?</span><br><span>Try our movie matcher</span></button></a> 
        </section>

        <!-- OPGESLAGEN FILMS -->
        <section class="opgeslagenfilms"> 
            <h2>Movies you liked</h2>
            <ul class="film-list">
                <% if (data.length===0) { %>
                    <li>
                        <img src="/uploads/images/addmovies.jpg" alt="No movies added yet" class="no-movies-image">
                    </li>
                    <% } else { %>
                    <% data.forEach((likedMovies)=> { %>
                    <li class="film-item">
                    <a href="/movie/<%= likedMovies._id %>">
                        <img src="/uploads/images/films/<%= likedMovies.Imgurl %>" alt="<%= likedMovies.Title %>" class="film-image">
                        <figcaption class="film-info"><h3 class="film-title"><%= likedMovies.Title %></h3></figcaption>
                    </a>
                </li>
                <% }) %>
                <% } %>
            </ul>
        </section>

        <!-- FILMS IN LIJST -->
        <section class="filminlijst">
            <% ['Action', 'Cartoon' , 'Horror' , 'Sport' ].forEach((genre, index)=> { %>
                <h2><%= genre %> movies</h2>
                <ul class="film-list">
                    <% const movies=[actionMovies, cartoonMovies, horrorMovies, sportMovies][index]; %>
                        <% movies.forEach((movie)=> { %>
                        <li class="film-item">
                            <a href="/movie/<%= movie._id %>">
                                <img src="/uploads/images/films/<%= movie.Imgurl %>" alt="<%= movie.Title %>"
                                    class="film-image">
                                <figcaption class="film-info">
                                    <h3 class="film-title">
                                        <%= movie.Title %>
                                    </h3>
                                </figcaption>
                            </a>
                        </li>
                    <% }) %>
                </ul>
                <% }) %>
        </section>

    </main>

</body>

</html>