<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <title>MovieMatcher</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><img src="/uploads/images/logos_footer/home-selected.svg" alt="home"></a>
                    <div class="selected"></div>
                </li>
                <li><a href="#"><img src="/uploads/images/logos_footer/search-gray.svg" alt="search"></a></li>
                <li><a href="#"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
                <li>
                    <a href="#"><img src="/uploads/images/logos_footer/profile-gray.svg" alt="profile"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>MovieMatch</h1>
            <img src="/uploads/images/home/stertransparant.png" alt="opgeslagen films bekijken">
            <div class="lijn"></div>
        </section>
        <section>
            <!-- Zoekbalk -->
            <div class="zoek-box">
                <input class="zoek-invoer" type="text" placeholder="Zoek jouw film...">
                <button class="zoek-knop"><i class="fas fa-search"></i></button>
            </div>

            <!-- Welkom gebruiker -->
            <p><span>Welcome TEC1-D</span></p>
            <p><span>Pick a movie to watch...</span></p>

            <!-- Moviematch Button -->
            <a href="/views/layout/movieMatcher.ejs"><button class="moviematchbtn"><span>NO
                        INSPIRATION?</span><br><span>Try our movie matcher</span></button></a>
        </section>

        <!-- Opgeslagen films -->
        <section class="opgeslagenfilms">
            <h2>Movies you liked</h2>
            <ul class="film-list">
                <% if (savedMovies.length === 0) { %>
                <!-- Controleer of savedMovies leeg is -->
                <li>
                    <img src="/uploads/images/addmovies.jpg" alt="No movies added yet" class="no-movies-image">
                    <!-- Toon de afbeelding -->
                </li>
                <% } else { %>
                <% savedMovies.forEach((savedMovie) => { %>
                <li class="film-item">
                    <a href="/movie/<%= savedMovie._id %>">
                        <img src="/uploads/images/films/<%= savedMovie.Imgurl %>" alt="<%= savedMovie.Title %>"
                            class="film-image">
                        <figcaption class="film-info">
                            <h3 class="film-title"><%= savedMovie.Title %></h3>
                            <p class="film-release">Release date: <%= savedMovie.ReleaseDate %></p>
                        </figcaption>
                    </a>
                </li>
                <% }) %>
                <% } %>
            </ul>
        </section>


        <!-- FILMS -->
        <section class="filminlijst">
            <% ['Action', 'Cartoon', 'Horror', 'Sport'].forEach((genre, index) => { %>
            <h2><%= genre %> movies</h2>
            <ul class="film-list">
                <% const movies = [actionMovies, cartoonMovies, horrorMovies, sportMovies][index]; %>
                <% movies.forEach((movie) => { %>
                <li class="film-item">
                    <a href="/movie/<%= movie._id %>">
                        <img src="/uploads/images/films/<%= movie.Imgurl %>" alt="<%= movie.Title %>"
                            class="film-image">
                        <figcaption class="film-info">
                            <h3 class="film-title"><%= movie.Title %></h3>
                            <p class="film-release">Release date: <%= movie.ReleaseDate %></p>
                        </figcaption>
                    </a>
                </li>
                <% }) %>
            </ul>
            <% }) %>
        </section>
    </main>
    <script src="/scripts/savedMovies.js"></script>
</body>

</html>

</body>

</html>