<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/moviePage.css">
    <title><%= title %></title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home"><img src="/uploads/images/logos_footer/home-selected.svg" alt="home"></a>
                    <div class="selected"></div>
                </li>
                <li><a href="/moviematcher/genre"><img src="/uploads/images/logos_footer/search-gray.svg" alt="search"></a></li>
                <li><a href="/"><img src="/uploads/images/logos_footer/chat-gray.svg" alt="chat"></a></li>
                <li>
                    <a href="/profile"><img src="/uploads/images/logos_footer/profile-gray.svg" alt="profile"></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <!-- Toont de filmtitel -->
            <h1><%= movie.Title %></h1>
            <!-- Navigatie link naar de hoofdpagina -->
            <a href="/" alt=""><img src="/uploads/images/moviePage/pijlwit.png" alt="opgeslagen films bekijken"></a>
            <!-- Visuele scheiding tussen secties -->
            <div class="lijn"></div>
        </section>
        <section>
            <!-- Toont de filmposter -->
            <img src="/uploads/images/films/<%= movie.Imgurl %>" alt="<%= movie.Title %>">

            <!-- Begin beoordelingssterren container -->
            <div class="beoordelingssterren" id="beoordelingsSterren">
                <!-- Radio buttons voor beoordelingen (0-5) -->
                <input type="radio" name="beoordeling" id="bs0" checked><label for="bs0"></label>
                <input type="radio" name="beoordeling" id="bs1"><label for="bs1"></label>
                <input type="radio" name="beoordeling" id="bs2"><label for="bs2"></label>
                <input type="radio" name="beoordeling" id="bs3"><label for="bs3"></label>
                <input type="radio" name="beoordeling" id="bs4"><label for="bs4"></label>
                <input type="radio" name="beoordeling" id="bs5"><label for="bs5"></label>
                <!-- Beoordelingsaantal weergeven -->
                <span class="beoordelingsaantal"></span>
            </div>
            <!-- Toont het kopje 'Description' -->
            <h2>Description</h2>
            <!-- Toont het eerste deel van de filmbeschrijving -->
            <div class="description">
                <p><%= movie.Description.split('\n')[0] %></p>
                <!-- Link om de rest van de beschrijving te tonen -->
                <a href="#" class="read-more">Lees meer</a>
                <!-- Extra beschrijvingstekst die verborgen is totdat er op 'Lees meer' wordt geklikt -->
                <p class="more-text">
                    <!-- Ga door de rest van de beschrijving en toon elke regel -->
                    <% movie.Description.split('\n').slice(1).forEach((line) => { %>
                    <%= line %><br>
                    <% }) %>
                </p>
                <!-- Link om de extra beschrijvingstekst te verbergen -->
                <a href="#" class="read-less" style="display:none;">Lees minder</a>
                <!-- Container voor de genre- en taalknoppen -->
                <div class="genre-buttons">
                    <!-- Toont de genre van de film -->
                    <button class="genre-button"><%= movie.Genre %></button>
                    <!-- Gaat door de talen van de film en toont ze als knoppen -->
                    <% movie.Language.forEach((language) => { %>
                    <button class="genre-button"><%= language %></button>
                    <% }) %>
                </div>
            </div>
        </section>

        <section>
            <!-- Container div voor de knoppen met de class "custom-buttons" -->
            <div class="custom-buttons">

                <!-- Link-element met de class "button play-movie" voor het afspelen van de film -->
                <a href="#" class="button play-movie">
                    <!-- Tekst 'PLAY MOVIE' binnen het link-element -->
                    <span>PLAY MOVIE</span>
                </a>
                <!-- Button-element met de class "button add-to-movies" en een data-attribuut "data-id" met de ID van de film -->
                <button class="button add-to-movies" data-id="<%= movie._id.toString() %>">
                    <!-- Afbeelding van een ster met een alt-tekst "Ster opslaan" -->
                    <img src="/uploads/images/home/stertransparant.png" alt="Ster opslaan">
                    <!-- Tekst 'ADD TO 'MOVIES YOU LIKE'' binnen het button-element -->
                    <span>ADD TO 'MOVIES YOU LIKE'</span>
                </button>
            </div>
        </section>
    </main>
    <script src="/scripts/moviePage.js"></script>
</body>

</html>