<!DOCTYPE html>

<html lang="en">

<head>

    <!-- HEAD PARTIAL -->
    <%- include('head-partial') %>

    <!-- TITLE -->
    <title>Profile</title>

    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/profile.css">

</head>

<body>

    <!-- HEADER -->
    <header>
        <h1>Profile</h1>
        <a href="/signup"><img src="/uploads/images/profilePage/sign-out.svg" alt="sign-out"></a>
    </header>

    <!-- NAV PARTIAL -->
    <%- include('menu-partial') %>

    <!-- MAIN -->
    <main>

        <!-- EDIT PROFILE BUTTON -->
        <section>
            <img src="/uploads/images/profilePage/profile-picture.jpg" alt="profile-picture">
            <a href="/editProfile">Edit Profile</a>
        </section>

        <!-- FORM -->
        <section>
            <section>
                <h2>Username</h2>
                <% if (profile.Username) { %>
                    <p> <%= profile.Username %> </p>
                <% } else { %>  
                    <p> No username </p>
                <% } %>  
            </section>

            <section>
                <h2>First name</h2>
                <% if (profile.Firstname) { %>
                    <p> <%= profile.Firstname %> </p>
                <% } else { %>  
                    <p> No first name </p>
                <% } %>  
            </section>

            <section>
                <h2>Last name</h2>
                <% if (profile.Lastname) { %>
                    <p> <%= profile.Lastname %> </p>
                <% } else { %>  
                    <p> No last name </p>
                <% } %>  
            </section>

            <section>
                <h2>Date of birth</h2>
                <% if (profile.dateOfBirth) { %>
                    <p> <%= profile.dateOfBirth %> </p>
                <% } else { %>  
                    <p> No age </p>
                <% } %>   
            </section>

            <section>
                <h2>City</h2>
                <% if (profile.locationName) { %>
                    <p> <%= profile.locationName %> </p>
                <% } else if (profile.city) { %>  
                    <p> <%= profile.city %> </p>
                <% } else { %>  
                    <p> No location </p>
                <% } %>
            </section>

            <section>
                <h2>Email</h2>
                <% if (profile.email) { %>
                    <p> <%= profile.email %> </p>
                <% } else { %>  
                    <p> No email </p>
                <% } %>  
            </section>

            <section>
                <h2>Phone number</h2>
                <% if (profile.Phonenumber) { %>
                    <p> <%= profile.Phonenumber %> </p>
                <% } else { %>  
                    <p> No phone number </p>
                <% } %>  
            </section>

            <section>
                <h2>Password</h2>
                <% if (profile.password) { %>
                    <p> <%= profile.password %> </p>
                <% } else { %>  
                    <p> No password </p>
                <% } %>  
            </section>
        </section>

    </main>

</body>

</html>